body {
    overflow: hidden;
    margin: 0px;
    
}

#hd {
    margin: 0px;
    padding: 20px 10px;
    background-color: #1abc9c;
    color: #ffffff;
    vertical-align: center;
}

#editor {
    margin: 0;
    position: absolute;
    top: 68px;
    bottom: 30px;
    left: 0;
    right: 50%;
    border: 2px solid;
    border-color: #1abc9c #474e5d #474e5d white;
}            
#preview {
    margin: 0;
    position: absolute;
    top: 68px;
    bottom: 30px;
    left: 50%;
    right: 0;
    border: 2px solid;
    border-color: #1abc9c #474e5d #474e5d white;
    background-color: white;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
    position: absolute;
    height: 30px;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 0px 10px;
}

.abutton {
    font-size: 18px;
    padding: 4px 8px;
    margin: 1px 5px 3px 5px;
    background-color: #344556;
    border-radius: 6px;
}
.abutton:hover {
    background-color: green;
    cursor: pointer;
}

.logo {
    font-size: 30px;
    color: white;
}
#hd > a:link {
    text-decoration: none;
}

#hd > a:visited {
    text-decoration: none;
}

#hd > a:hover {
    text-decoration: none;
}
#hd > a:active {
    text-decoration: none;
}

footer a {
    color: #bbbbbb;
}